In [1]:
import pandas as pd

In [23]:
df1 = pd.read_excel('/Users/paraggupta/Desktop/projects/TVD_Associates/Data/Dataset_Full.xlsx')
df2 = pd.read_excel('/Users/paraggupta/Desktop/projects/TVD_Associates/Data/Event_Registration_Dataset_Full.xlsx')

df2['Registrant Name | First'] = df2['Registrant Name | First'].apply(lambda x: str.lower(str(x)))
df2['Registrant Name | Last'] = df2['Registrant Name | Last'].apply(lambda x: str.lower(str(x)))
df2['full name'] =  df2['Registrant Name | First'].str.cat(df2['Registrant Name | Last'], sep=' ')

df1['Registrant Name | First'] = df1['Registrant Name | First'].apply(lambda x: str.lower(str(x)))
df1['Registrant Name | Last'] = df1['Registrant Name | Last'].apply(lambda x: str.lower(str(x)))
df1['full name'] =  df1['Registrant Name | First'].str.cat(df1['Registrant Name | Last'], sep=' ')

In [32]:
df3 = pd.merge(df1, df2, on='full name', how='inner')
df3

,Date Registered_x,Submission ID_x,Status_x,Member Type_x,Registered By_x,Discount Code_x,User ID_x,Registrant Name | Prefix_x,Registrant Name | First_x,Registrant Name | Middle_x,...,Museum-Guest-2_y,PD_y,ADA-Dietary_y,ADA-Dietary(2)_y,Opt out_y,Amount Paid_y,Balance_y,Engagament Score,Year,Year Inverse
0,07/30/2022 6:58:40 PM,206660822,Registered,Member Contact,Rose Dolin,NaN,2011272045,NaN,breone,NaN,...,NaN,No,No,NaN,NaN,0.0,0.0,0.142857,7.0,0.142857
1,03/31/2022 5:52:53 PM,206014882,Registered,Member Contact,Beth Alden,Rabid,2004099504,NaN,beth,NaN,...,NaN,Yes,No,NaN,NaN,370.0,0.0,0.703333,3.0,0.333333
2,05/23/2022 4:50:22 PM,206321207,Registered,Member Contact,Keren Allen,NaN,2004097280,NaN,keren,NaN,...,NaN,No,No,NaN,Opt-out,435.0,0.0,0.635000,5.0,0.200000
3,06/08/2022 10:31:35 AM,206401712,Registered,Prospect,Melyssa Allen,NaN,2010978409,NaN,susan,NaN,...,NaN,No,No,NaN,Opt-out,465.0,0.0,0.631667,6.0,0.166667
4,03/31/2022 2:04:49 PM,206012261,Registered,Individual Member,Daniela Alvarez,NaN,2010388558,NaN,daniela,NaN,...,NaN,Yes,No,NaN,NaN,395.0,0.0,0.728333,3.0,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,07/25/2022 12:26:05 PM,206631221,Registered,Member Contact,Jennifer Yoon,NaN,2009494718,NaN,jennifer,NaN,...,NaN,No,No,NaN,NaN,490.0,0.0,0.632857,7.0,0.142857
399,04/01/2022 1:15:38 PM,206020303,Registered,Member Contact,Jennifer York,NaN,2004098094,NaN,jennifer,NaN,...,NaN,Yes,Yes,Vegetarian,NaN,435.0,0.0,0.685000,4.0,0.250000
400,03/09/2022 2:30:38 PM,205871125,Registered,Member Contact,Mandy Zachgo,BOD,2006873264,NaN,mandy,NaN,...,NaN,No,No,NaN,Opt-out,40.0,0.0,0.373333,3.0,0.333333
401,03/31/2022 3:23:34 PM,206013245,Registered,Member Contact,Patricia Zehna,Rabid,2006884575,NaN,patricia,NaN,...,NaN,No,No,NaN,NaN,410.0,0.0,0.743333,3.0,0.333333
402,05/27/2022 5:12:55 PM,206346327,Registered,Individual Member,Katrina Zwolinski,NaN,2010931186,NaN,katrina,NaN,...,NaN,No,No,NaN,Opt-out,395.0,0.0,0.595000,5.0,0.200000

In [29]:
df1

,Date Registered,Submission ID,Status,Member Type,Registered By,Discount Code,User ID,Registrant Name | Prefix,Registrant Name | First,Registrant Name | Middle,...,Museum,Museum-Guest-1,Museum-Guest-2,PD,ADA-Dietary,ADA-Dietary(2),Opt out,Amount Paid,Balance,full name
0,07/30/2022 6:58:40 PM,206660822,Registered,Member Contact,Rose Dolin,NaN,2011272045,NaN,breone,NaN,...,NaN,NaN,NaN,No,No,NaN,NaN,0.0,0,breone alcox-mcintosh
1,03/31/2022 5:52:53 PM,206014882,Registered,Member Contact,Beth Alden,Rabid,2004099504,NaN,beth,NaN,...,NaN,NaN,NaN,Yes,No,NaN,NaN,370.0,0,beth alden
2,05/23/2022 4:50:22 PM,206321207,Registered,Member Contact,Keren Allen,NaN,2004097280,NaN,keren,NaN,...,"Yes, count me in! - $40.00",NaN,NaN,No,No,NaN,Opt-out,435.0,0,keren allen
3,06/08/2022 10:31:35 AM,206401712,Registered,Prospect,Melyssa Allen,NaN,2010978409,NaN,susan,NaN,...,NaN,NaN,NaN,No,No,NaN,Opt-out,465.0,0,susan allen
4,03/31/2022 2:04:49 PM,206012261,Registered,Individual Member,Daniela Alvarez,NaN,2010388558,NaN,daniela,NaN,...,NaN,NaN,NaN,Yes,No,NaN,NaN,395.0,0,daniela alvarez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,03/09/2022 2:30:38 PM,205871125,Registered,Member Contact,Mandy Zachgo,BOD,2006873264,NaN,mandy,NaN,...,"Yes, count me in! - $40.00",NaN,NaN,No,No,NaN,Opt-out,40.0,0,mandy zachgo
385,03/31/2022 3:23:34 PM,206013245,Registered,Member Contact,Patricia Zehna,Rabid,2006884575,NaN,patricia,NaN,...,"Yes, count me in! - $40.00",NaN,NaN,No,No,NaN,NaN,410.0,0,patricia zehna
386,05/27/2022 5:12:55 PM,206346327,Registered,Individual Member,Katrina Zwolinski,NaN,2010931186,NaN,katrina,NaN,...,NaN,NaN,NaN,No,No,NaN,Opt-out,395.0,0,katrina zwolinski
387,07/06/2022 11:30:38 AM,206538977,Registered,Prospect,norman scarbrough,NaN,2011162523,NaN,norman,NaN,...,NaN,NaN,NaN,No,No,NaN,NaN,0.0,0,norman scarbrough
388,07/06/2022 11:30:38 AM,206538977,Registered,Prospect,norman scarbrough,NaN,2011162523,NaN,norman,NaN,...,NaN,NaN,NaN,No,No,NaN,NaN,0.0,0,norman scarbrough

In [30]:
df2

,Date Registered,Submission ID,Status,Member Type,Registered By,Discount Code,User ID,Registrant Name | Prefix,Registrant Name | First,Registrant Name | Middle,...,PD,ADA-Dietary,ADA-Dietary(2),Opt out,Amount Paid,Balance,Engagament Score,Year,Year Inverse,full name
0,07/30/2022 6:58:40 PM,206660822.0,Registered,Member Contact,Rose Dolin,NaN,2.010000e+09,NaN,breone,NaN,...,No,No,NaN,NaN,0.0,0.0,0.142857,7.0,0.142857,breone alcox-mcintosh
1,03/31/2022 5:52:53 PM,206014882.0,Registered,Member Contact,Beth Alden,Rabid,2.000000e+09,NaN,beth,NaN,...,Yes,No,NaN,NaN,370.0,0.0,0.703333,3.0,0.333333,beth alden
2,05/23/2022 4:50:22 PM,206321207.0,Registered,Member Contact,Keren Allen,NaN,2.000000e+09,NaN,keren,NaN,...,No,No,NaN,Opt-out,435.0,0.0,0.635000,5.0,0.200000,keren allen
3,06/08/2022 10:31:35 AM,206401712.0,Registered,Prospect,Melyssa Allen,NaN,2.010000e+09,NaN,susan,NaN,...,No,No,NaN,Opt-out,465.0,0.0,0.631667,6.0,0.166667,susan allen
4,03/31/2022 2:04:49 PM,206012261.0,Registered,Individual Member,Daniela Alvarez,NaN,2.010000e+09,NaN,daniela,NaN,...,Yes,No,NaN,NaN,395.0,0.0,0.728333,3.0,0.333333,daniela alvarez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,...,NaN,Mean =,0.676761,NaN,NaN,NaN,NaN,NaN,NaN,nan nan
393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,...,NaN,Median =,0.595,NaN,NaN,NaN,NaN,NaN,NaN,nan nan
394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,...,NaN,SD,0.679746,NaN,NaN,NaN,NaN,NaN,NaN,nan nan
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,...,NaN,min,0.125,NaN,NaN,NaN,NaN,NaN,NaN,nan nan
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,...,NaN,max,4.05,NaN,NaN,NaN,NaN,NaN,NaN,nan nan